.sampleHead {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}
.mobileOpen{
  display: none;
}
.sampleHeadTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-left: 50px;
}
.sampleHeadName {
  width: 70%;
}
.sampleHeadLinks {
  width: 30%;
}
.headImage {
  width: 35%;
  position: relative;
  height: 100vh;
}
.headImage img {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.headLinks {
  position: relative;
  padding: 30px 10px 10px 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 10011;
}
.headLinksUnit {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
  cursor: pointer;
}
.headLinksUnit p {
  font-size: 15px;
}
.headLinksUnitActive {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-bottom: 3px;
  border-bottom: 1px solid black;
}
.headLinksUnitActive p {
  font-size: 17px;
  font-weight: bold;
}
.headIntro {
  width: 65%;
  position: relative;
  height: 100vh;
  padding: 30px 10px 20px 160px;
}
.headIntro img.introBg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0.5;
}
.mobileHeader{
  width:100%;
  position: fixed;
  visibility: hidden;
  top:0;
  left:0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height:60px;
  padding:10px 20px 0px 20px;
  background-color: #fff;
  z-index: 9999999999999;
}
.mobileName{
 width:80%;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 height:40px;
}
.mobileName p {
  font-family: cursive;
  font-size: 18px;
  font-weight: bold;
}
.mobileHamburger{
  width:20%;
}
.mobileHamburger img{
  width:40px;
  height:40px;
}
.sampleHeadName {
  width: 100%;
}
.sampleHeadName p {
  font-family: cursive;
  font-size: 18px;
  font-weight: bold;
}
.introContainer {
  padding: 70px 20px 20px 0px;
}
.introHello {
  width: 100%;
}
.introHello p {
  color: rgb(0, 0, 136);
  font-size: 16px;
}

.introFormal {
  margin-top: 10px;
}
.introFormal p {
  font-size: 3.5rem;
}
.introMedium {
  margin-top: 10px;
}
.introMedium p {
  font-size: 2.5rem;
}
.introMedium span {
  font-size: 3rem;
  font-weight: bold;
}
.introFormal span {
  font-size: 3.5rem;
  font-weight: bold;
}
.introFormalSmall {
  width: 80%;
  margin-top: 10px;
}
.introFormalSmall p {
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.introButtons {
  width: 100%;
  margin-top: 40px;
}
.introButtons button {
  padding: 18px 25px;
  border-radius: 10px;
}
.workButton {
  background-color: black;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-right: 20px;
  border: none;
}
.resumeButtom {
  background-color: #fff;
  color: black;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid black;
}
.resumeButtom {
}
.personalFav {
  width: 92%;
  margin-right: 4%;
  padding: 60px 10px 20px 160px;
}
.aboutme {
  position: relative;
  width: 100%;
  padding: 60px 100px 20px 160px;
  background: rgb(243 244 246);
  min-height: 300px;
}
.aboutMeContainer{
  padding: 30px 0px;
}
.aboutmemisc{
  position: absolute;
}
.aboutmemisc p{
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
.aboutOthers{
  width:60%;
  margin-left: 40%;
  z-index: 9999;
}
.aboutOthers p{
  font-size: 22px;
  line-height: 1.8em;
}
.aboutDo{
  width:100%;
  margin-top: 30px;
}
.aboutDoTitle{
  width:100;
  margin-bottom: 5px;
}
.aboutDoTitle p{
  font-size: 18px;
  font-weight: bold;
}
.aboutDoCards{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.aboutCard{
  width: 32%;
  min-height: 50px;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 10px;
}
.personalContainer {
  width: 100%;
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.personalCard {
  width: 19%;
  min-height: 50px;
  padding: 20px;
  border-radius: 10px;
  background: rgb(243 244 246);
}

.personalImage {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #fff;
}
.personalImage img {
  width: 100%;
  height: 100%;
}
.personalTitle {
  width: 100%;
  padding: 20px 5px;
}
.personalTitle p {
  font-size: 18px;
  font-weight: bold;
}
.personalText {
  width: 100%;
  padding: 0px 10px;
}
.personalText p {
  font-size: 13px;
}

.artCard {
  width: 23%;
  height: 350px;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #33475b;
}
.artCard img {
  width: 100%;
  height: 100%;
  border: none;
}

.achCard {
  width: 48%;
  min-height: 150px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #33475b;
}
.achTag {
  padding: 5px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
}
.achPic {
  width: 100%;
  height: 300px;
  margin-top: 10px;
}
.achPic img {
  width: 100%;
  height: 100%;
}
.achTitle {
  width: 100%;
  height: 60px;
  margin: 15px 0px 5px;
}
.achTitle p {
  font-size: 22px;
  font-weight: bold;
}
.achDesc p {
  font-size: 16px;
}

.hobbyCard{
  width:32%;
  height:400px;
  position: relative;
  border: 2px solid #000;
  margin-bottom: 30px;
}
.hobbyTag{
  position: absolute;
  top:20px;
  left:20px;
  padding:5px 15px;
  border: 1px solid lightgray;
  border-radius: 15px;
  background-color: #fff;
}
.hobbyDetails{
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  height:150px;
  background: rgba(0, 0,0,0.5);
  z-index: 999999;
  padding: 50px 20px;
}
.hobbyHeader{
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}
.hobbyHeader p{
  font-size: 25px;
}
.hobbyDesc p{
  font-size: 15px;
  color:lightgray;
}
.hobbyCard img{
  width:100%;
  height:100%;
  z-index: 10;
}
.footerSection{
  width:100%;
  min-height:200px;
  padding: 100px 0px;
  background-color: lightgray;
  
}
.footerTab{
  width:90%;
  padding:50px;
  margin-left: 5%;
  min-height:150px;
  background-color: #33475b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabContainer{
  width:100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.tabSection{
  width:33%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.tabSmall{
  width:100%;
  color: #fff;
}
.tabMain{
  width:100%;
}
.tabMain p{
  font-size: 55px;
  font-weight: bold;
  color: #fff;
}
.tabMidBold{
  width:100%;
  text-align: center;
  margin-bottom: 10px;
}
.tabMidBold p{
  font-weight:bold;
  color:#fff;
}
.tabMidBold img{
  height: 35px;
  width:35px;
  margin-right: 15px;
}
.tabFinal{
  width:100%;
  text-align: center;
  margin-top: 30px;
}
.tabFinal p{
   font-size: 15px;
   font-weight: bold;
   color:#33475b
}
@media screen and (max-width: 1024px) {
  .headIntro {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
  }
  .headIntro img.introBg {
    visibility: visible;
  }
  .mobileHeader{
    visibility: visible;
  }
  .introFormal p {
    font-size: 3rem;
  }
  .introFormal span {
    font-size: 3rem;
    font-weight: bold;
  }
  .introFormalSmall {
    width: 80%;
    margin-top: 10px;
  }
  .introFormalSmall p {
    font-size: 17px;
    line-height: 1.8rem;
  }
  .headImage {
    display: none;
  }
  .personalFav {
    width: 100%;
    margin: 0;
    padding: 20px;
  }
  .aboutme {
    position: relative;
    width: 100%;
    padding: 20px;
    background: rgb(243 244 246);
    min-height: 300px;
  }
  .aboutOthers{
    width:100%;
    margin-left: 0;
  }
  .aboutOthers p{
    font-size: 15px;
    line-height: 1.5em;
  }
  .aboutCard{
    width: 48%;
    min-height: 50px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    margin-bottom: 10px;
  }
  .introHello p {
    font-size: 13px;
  }
  .introMedium p {
    font-size: 15px;
  }
  .introMedium span {
    font-size: 20px;
  }
  .personalCard {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
  }
  .personalImage {
    width: 20px;
    height: 20px;
  }
  .personalImage img {
    width: 100%;
    height: 100%;
  }
  .personalTitle {
    width: 100%;
    padding: 10px 5px;
  }
  .personalTitle p {
    font-size: 15px;
    font-weight: bold;
  }
  .personalText {
    width: 100%;
    padding: 0px 5px;
  }
  .personalText p {
    font-size: 12px;
  }
  .achCard {
    width: 98%;
    margin-bottom: 20px;
  }
  .artCard {
    width: 98%;
    height: 450px;
    margin-bottom: 20px;
  }
  .achTitle p {
    font-size: 18px;
    font-weight: bold;
  }
  .hobbyCard{
    width:100%;
  }
  .footerSection{
    padding:0px;
  }
  .footerTab{
    width:100%;
    margin:0;
    padding:10px;
  }
  .tabSection{
    width:100%;
    margin-bottom: 20px;
  }
  .tabSmall{
    text-align: center;
  }
  .tabMain{
    text-align: center;
  }
  .tabMain p{
    font-size: 25px;
  }
  .aboutmemisc{
    visibility: hidden;
  }
  .mobileOpen{
    width: 100%;
    background: #fff;

    z-Index: 100000000;
    margin-top: 20px;
    display: block;
  }
  .mobileOpenUnit{
    width:100%;
    padding:20px 20px;
    border-bottom: 1px solid #33475b;
  }
  .mobileOpenUnit p{
     font-weight: bold;
     font-size: 18px;
  }
}
