.sampleHead {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}
.sampleHeadTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-left: 50px;
}
.sampleHeadName {
  width: 70%;
}
.sampleHeadLinks {
  width: 30%;
}
.headImage {
  width: 35%;
  position: relative;
  height: 100vh;
}
.headImage img {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.headLinks {
  position: relative;
  padding: 30px 10px 10px 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 10011;
}
.headLinksUnit {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
  cursor: pointer;
}
.headLinksUnit p {
  font-size: 15px;
}
.headLinksUnitActive {
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-bottom: 3px;
  border-bottom: 1px solid black;
}
.headLinksUnitActive p {
  font-size: 17px;
  font-weight: bold;
}
.headIntro {
  width: 65%;
  height: 100vh;
  padding: 30px 10px 20px 160px;
}
.sampleHeadName {
  width: 100%;
}
.sampleHeadName p {
  font-family: cursive;
  font-size: 18px;
  font-weight: bold;
}
.introContainer {
  padding: 70px 20px 20px 0px;
}
.introHello {
  width: 100%;
}
.introHello p{
    color: rgb(0, 0, 136);
    font-size: 16px;
}

.introFormal{
    margin-top: 10px;
}
.introFormal p{
    font-size: 3.5rem;
}
.introMedium{
  margin-top: 10px;
}
.introMedium p{
  font-size: 2.5rem;
}
.introMedium span{
  font-size: 3rem;
  font-weight: bold;
}
.introFormal span{
    font-size: 3.5rem;
    font-weight: bold;
}
.introFormalSmall{
    width:80%;
    margin-top: 10px;
}
.introFormalSmall p{
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.introButtons{
    width:100%;
    margin-top: 40px;
}
.introButtons button{
    padding:18px 25px;
    border-radius: 10px;
    border: none;
}

.personalFav{
 width:92%;
 margin-right: 4%;
 padding: 60px 10px 20px 160px;
}

.personalContainer{
  width:100%;
  margin:20px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.personalCard{
  width:19%;
  min-height:50px;
  padding:20px;
  border-radius: 10px;
  background: rgb(243 244 246);
}
.personalImage{
  width:40px;
  height:40px;
  padding:10px;
  background-color: #fff;
}
.personalImage img{
  width:100%;
  height:100%;
}
.personalTitle{
  width:100%;
  padding:20px 5px;
}
.personalTitle p{
  font-size: 18px;
  font-weight: bold;
}
.personalText{
  width:100%;
  padding:0px 10px;
}
.personalText p{
  font-size: 13px;
}

.artCard{
  width:23%;
  height:350px;
  padding:10px;
  border-radius: 5px;
  background: #fff;
  border:1px solid #33475b;
}
.artCard img{
  width:100%;
  height:100%;
  border:none;
}

.achCard{
  width:48%;
  min-height: 150px;
  padding:20px;
  border:1px solid #33475b;
}
.achTag{
  padding:5px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.achPic{
  width:100%;
  height:300px;
  margin-top: 10px;
}
.achPic img{
  width:100%;
  height:100%;
}
.achTitle{
  width:100%;
  height:60px;
  margin:15px 0px 5px;
}
.achTitle p{
  font-size: 22px;
  font-weight: bold;
}
.achDesc p{
  font-size: 16px;
}
@media screen and (max-width:1024px) {
  .personalFav{
    width:100%;
    margin: 0;
    padding:20px;
  }
  .introHello p{
     font-size: 13px;
  }
  .introMedium p{
    font-size: 15px;
  }
  .introMedium span{
    font-size: 20px;
  }
  .personalCard{
    width: 48%;
    padding:10px;
    margin-bottom: 10px;
  }
  .personalImage{
    width:20px;
    height:20px;
  }
  .personalImage img{
    width:100%;
    height:100%;
  }
  .personalTitle{
    width:100%;
    padding:10px 5px;
  }
  .personalTitle p{
    font-size: 15px;
    font-weight: bold;
  }
  .personalText{
    width:100%;
    padding:0px 5px;
  }
  .personalText p{
    font-size: 12px;
  }
  .achCard{
    width:98%;
    margin-bottom: 20px;
  }
  .artCard{
    width:98%;
    height:450px;
    margin-bottom: 20px;
  }
  .achTitle p{
    font-size: 18px;
    font-weight: bold;
  }
}